button[type="submit"] {
    font-family: inherit;
    font-size: 20px;
    background: #b91c1c;
    color: white;
    padding: 0.7em 2em;
    /* padding-left: 0.9em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

button[type="submit"] span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button[type="submit"] svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button[type="submit"]:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button[type="submit"]:hover {
    background-color: #ef4444;
}

button[type="submit"]:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button[type="submit"]:hover span {
    transform: translateX(5em);
}

button[type="submit"]:active {
    transform: scale(0.95);
}

button[type="submit"]:disabled {
    background: #7f1d1d;
    cursor: not-allowed;
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}